<div class="container mt-5 mb-5">
    <div class="parallax"></div>
    <h1 class="text-center">About Us</h1>
    
    <p>
        We are the Fine Diners and we know perfectly well what it feels like to have your belly as well as your heart full 
        after a really very tiring day and we, would love to serve you with a big smile... We provide the finest of the dining experience from the comfort and luxury of your own 
        home and we would love you to be a part of our fine diners family... 
        <br>Our menu has some of the most famous dishes that we know you have it in your guilty pleasure list and not only that, we make assure that the
        food is delivered to your doorstep smoking hot...
        <br> Our journey started from 2020 and in these 3 years we have seen a zillion smiles and cutomers with thier bellies filled... We have been the top
        in our game and we make sure to provide you with the best quality...
        <br>Join us NOW and prepare yourself to start with your </p>  <p class="glow">FINE DINING JOURNEY!!!
    </p>
</div>